.footer-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
  justify-content: center; /* Centra los elementos horizontalmente */
}

.icons-uno,
.icons-dos,
.icons-tres,
.icons-cuatro {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding-top: 4em; /* Ajusta el padding según tus necesidades */
  text-align: center;
}

button {
  background-color:transparent;
  color: #CD9452;
  margin-bottom: 1em; /* Ajusta el margen según tus necesidades */
}

h3 {
  font-size: 1.2em; /* Ajusta el tamaño de fuente según tus necesidades */
  margin-bottom: 1em; /* Ajusta el margen según tus necesidades */
}
p{
  color: #9E9295;
font-size: 1.2rem;
text-align: center;
padding-left: 2em;
padding-right: 2em;
}

.linea {
margin-top: 4em;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.icons-uno p,
.icons-dos p,
.icons-tres p,
.icons-cuatro p {
  margin-bottom: 10px; /* Puedes ajustar el valor según tus necesidades */
}
.lineUp{
  display:block;
  margin-top: 1rem;
}
.navigation {
  display: flex;
  align-items: center;
}

.imagen-icono {
  display: flex;
  align-items: center;
}

.imagen-icono img {
  width: 40px;
  /* align-items: center; */
  margin-left: 10rem;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

h2 {
  font-size: 2em;
  margin-bottom: 2rem;
  margin-top: 3.7rem;
  margin-right:  3rem;
}

.lista-navegacion {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lista-navegacion ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista-navegacion li {
margin-left: 1rem;
margin-bottom: 1rem;
color: #9E9295;
}
.lista-navegacion li:hover {
  color: #CD9452;
}

.parrafo-final  p {
font-size: 1rem;
}
.parrafo-final  span {
  text-decoration: underline; 
  font-weight: bold;
  color: #565556;
  margin-bottom: 1rem;
}

.parrafo-final  span a{
color: #565556;
}
 /* Media queries para tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container > div[class^="icons-"] { /* Selecciona todos los elementos cuya clase comience con "icons-" */ 
    width: 50%;
  }
  .footer-container {
    display: flex; /* Permite que los elementos se envuelvan en múltiples líneas */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  .icons-uno,
  .icons-dos,
  .icons-tres,
  .icons-cuatro {
    width: 50%; /* Ajusta el ancho para que haya dos elementos por fila */
    padding-top: 4em;
    text-align: center;
  }
  /* Le añado al parrafo un span al texto que quiero modificar solo y le he añadido este nombre para moverlo hacia abajo en la vista tablet */
.lineBreak{
  display: block;
 padding-top: 1rem;
}
/* Este también es para el mismo parrafo pero para moverlo hacia arriba en la vista tablet */
.lineUp{
display:inline
}
.linea {
  background-color: #ccc;
  /* height: 1px; */
  border: none;
  border-top: 0rem solid #ccc; 
  }

  /*Parte de abajo lista de navegacion*/
  .lista-navegacion {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Cambia el valor a "row" para que los elementos se muestren en horizontal */
    align-items: center;
  }
  
  .lista-navegacion ul {
    list-style: none;
    display: flex;
    flex-direction: row; /* Cambia el valor a "row" para que los elementos se muestren en horizontal */
    align-items: center;
   padding-right: 4rem;
  }
  
  .lista-navegacion li {
    margin-left: 1rem;
    margin-bottom: 0; /* Elimina el margen inferior para que los elementos estén alineados horizontalmente */
    color: #9E9295;
  }
  
  .parrafo-final {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-icono{
   margin-left: 11rem;
   padding-bottom: 2rem;
    /* justify-content: center; */
    /* align-items: center; */
  }
}
  /* Media queries vista escritorio */

@media (min-width: 1025px) {
  .footer-container {
    display: flex;
    justify-content: center;
  }
  .linea{
    margin-top: 12em;
  }
  .icons-uno,
  .icons-dos,
  .icons-tres,
  .icons-cuatro {
    width: 25%;
    padding-top: 9em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 6em; */
  }
  
  button {
    background-color: transparent;
    color: #cd9452;
    margin-bottom: 3em;
  }
  
  h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  p {
    color: #9e9295;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  .icons-uno p,
  .icons-dos p,
  .icons-tres p,
  .icons-cuatro p {
    margin-bottom: 10px;
  }
  .lineBreak{
    display:block;
    padding-top: 0.6em;
  }
  
  .lineUp {
   display: inline;
  }
  .titulo {
    position: relative;
  }
  
  .imagen-icono {
    display: flex;
    align-items: center;
  }
  
  .imagen-icono img {
    width: 40px;
    margin-right: 1rem;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
  
  .lista-navegacion {
    position: absolute;
    top: 3rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .lista-navegacion ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .lista-navegacion li {
    margin-bottom: 0.5rem;
    color: #9E9295;
  }
  
  .parrafo-final {
    position: absolute;
    top: 9rem;
    right: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  
  
  
  
  
  
  
  
 }
